{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <p class="title">{{ post.user.username }}
            <span class="is-size-6 has-text-grey"> at {{ post.created_at.strftime('%Y-%m-%d %H:%m') }}</span></p>
        <div class="box">
            <h1 class="title">{{ post.title }}</h1>
            <p class="content">{{ post.body }}</p>
        </div>
        <a href="{{ url_for('general.index') }}" class="button is-info is-light">Back to main page</a>
    </div>
</section>
{% endblock %}