{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter is-flex is-flex-direction-column">
                <figure class="image is-128x128 mb-2">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="example">
                </figure>
                <strong class="title">{{ user.username }}</strong>
                <p class="is-size-5">
                    Email:
                    {% if user.is_active %}
                    <span class="has-text-success">verified!</span>
                    {% else %}
                    <span class="has-text-danger">not verified!</span>
                    {% endif %}
                </p>
                <p class="is-size-5">Created at: {{ user.created.strftime('%Y-%m-%d') }}</p>
                <!-- <button class="button is-small" onclick="openForm()">Edit profile</button> -->
            </div>
            <div class="column is-four-fifths">
                <h1 class="title is-size-3">My posts</h1>
                {% if posts %}
                    {% for post in posts %}
                        <div class="box">
                            <h1 class="title">{{ post.title }}</h1>
                            <p class="content">
                                {% set max_words = 90 %}
                            {% set words = post.body.split(' ') %}
                            {% set truncated_body = ' '.join(words[:max_words]) %}
                            {{ truncated_body }}
                            {% if words|length > max_words %}
                                ...<br><br><a class="button is-link is-light" href="{{ url_for('posts.view_post', post_id=post.id) }}">View the full post </a>
                            {% endif %}
                            </p>
                            <a href="{{ url_for('posts.edit_post', post_id=post.id) }}" class="button is-link is-light">Edit</a>
                            <button class="button is-danger is-light" onclick="confirmDelete('{{ post.id }}')">Delete</button>
                        </div>
                    {% endfor %}
                {% else %}
                <h1 class="title is-size-5 has-text-grey is-unselectable">I haven't written anything yet, but I can always start</h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script>
    function confirmDelete(postId) {
        var isConfirmed = window.confirm("Are you sure want to delete this post?");
        if (isConfirmed) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '{{ url_for("posts.delete_post", post_id="") }}' + postId;

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
{% endblock %}
