{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter is-flex is-flex-direction-column">
                <figure class="image is-128x128 mb-2">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="example">
                </figure>
                <strong class="title">{{ user.username }}</strong>
                <p class="is-size-5">Created at: {{ user.created.strftime('%Y-%m-%d') }}</p>
            </div>
            <div class="column is-four-fifths">
                <h1 class="title is-size-3">{{ user.username }}'s posts</h1>
                {% set posts = user.posts %}
                {% if posts %}
                    {% from 'components/post.html' import render_posts %}
                    {{ render_posts(posts) }}
                {% else %}
                <h1 class="title is-size-5 has-text-grey is-unselectable">{{ user.username }} hasn't written anything yet</h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
